<div class="animated fadeIn table-container mat-elevation-z20">
  <form [formGroup]="productForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{(product$ | async)?.productName}}</mat-card-title>
      <mat-card-subtitle>{{(product$ | async)?.cost | currency}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="table-loading-shade" *ngIf="(loading$ | async)">
        <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
      </div>

      <mat-card class="mat-elevation-z0">
        <mat-card-header>
          <mat-card-title>Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="productName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Amount Available</mat-label>
                <input matInput formControlName="amountAvailable" type="number">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cost</mat-label>
                <input matInput formControlName="cost" type="number">
              </mat-form-field>
            </div>
          </ng-container>


          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
            <div fxFlex="70"></div>
            <div fxFlex="15">
              <button mat-button color="primary" [routerLink]="['/product']">Discard Changes</button>
            </div>
            <div fxFlex="15">
              <button mat-raised-button style="margin-bottom: 15px;" color="primary" (click)="submitForm()">
                <mat-icon>save</mat-icon> Save Product
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
  </form>
</div>
